body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #2c3e50;
    color: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}
